<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="static/calculate.css">
</head>
<body>
    
    <div class="calculator">
        <input type="text" readonly class="calculator-screen" id="calculator-screen" value="">

        <div class="calculator-screen">
            <div id="entry" class="entry">0</div>
            <div id="solution" class="solution"></div>
        </div>
        <div class="calculator-keys">

            <button type="button" class="function" value="**2">x²</button>
            <button type="button" class="function" value="**">^</button>                                        
            <button type="button" class="function" value="sqrt(">&radic;</button>
            <button type="button" class="function" value="π">π</button>

            <button type="button" class="number" value="7">7</button>
            <button type="button" class="number" value="8">8</button>
            <button type="button" class="number" value="9">9</button>
            <button type="button" class="function" value="/">/</button>
            
        
            <button type="button" class="number" value="4">4</button>
            <button type="button" class="number" value="5">5</button>
            <button type="button" class="number" value="6">6</button>
            <button type="button" class="function" value="*">*</button>
            
        
            <button type="button" class="number" value="1">1</button>
            <button type="button" class="number" value="2">2</button>
            <button type="button" class="number" value="3">3</button>
            <button type="button" class="function" value="-">-</button>

            <button type="button" class="number" value="0">0</button>
            <button type="button" class="number" value=".">.</button>
            <button type="button" class="function" value="+">+</button>
            <button type="button" class="function" value="%">%</button>

            <button type="button" class="del" value="DEL">DEL</button>
            <button type="button" class="clear" value="C">C</button>
            <button type="button" class="equal-sign" value="=">=</button>
            
            
            
                        
            <button type="button" class="function" value=""></button>
            <button type="button" class="function" value=""></button>                                        
            <button type="button" class="function" value=""></button>
            <button type="button" class="function" value=""></button>
            
        </div>
        
        
    </div>
    
    <script src="static/calculate.js"></script>

</body>
</html>

